body {
    background-color: antiquewhite;
    color :brown;
    font-family: "Gothic A1", sans-serif;
    box-sizing: border-box;
}

.hargafinal {
    font-weight: bold;
    color :chocolate
}

a:link{
    text-decoration: none;
    color:brown;
}
a:visited{
    text-decoration: none;
    color:brown;
}
a:hover{
    text-decoration: none;
    color: brown;
    font-weight: bold;
}
.profilepicture {
    border-radius: 50%;
}
.photo {
    border-radius: 20px; /*membuat rounded corner*/
    border:2px solid #a33; /*tebal jenis warna*/
    padding: 5px; /*jarak isi dengan border*/
    width: 200px;/*jika tidak diset akan full 1 halaman*/
}